.Menu_fixed {
  display: flex;
  align-items: center;
  background-color: #17224D;
  height: 7vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
} 

.row {
  width: 100%;
}
.Menu {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.Menu > div {
  display: flex;
  align-items: center;
}
.Menu > div > div {
  margin-right: 20px;
}

.Menu > div > div > a {
  color: white;
}
.Menu > div > div > a:hover {
  color: rgb(141, 141, 148);
}

@media (max-width: 640px) {
  .row {
    padding: 0 0px;
  }
  .header {
    padding: 0 00px;
  }
  .Menu > div > div {
    margin-right: 5px;
  }
  .logo {
    width: 70px;
    height: 20px;
  }
}


.Text_Primary_Event{
  margin-top: 100px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  
}

.Img_Calendar{
  width: 30%;
}

.Content_Information{
  display: flex;
  justify-content: space-around;
}

.Content_Information_H6{
  display: flex;
  flex-direction: column;
}

.Adviser_Title{
  margin-top: 70px;
  text-align: center;
}

.Adviser_Title_Secondary{
  text-align: center;
}

.Content_Advisers{
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.Child {
  color: #17224D; 
}