.parent {
  display: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.child {
  margin-bottom: 5%;
  margin-left: 40%;
}
.login-form-button {
  display: block;
  width: 100%;
}

.Div_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.Img_Login {
  width: 10%;
}
