
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 15%;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.profile{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  
}

.profile-text {
  color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}

