
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  
}

.trigger:hover {
  color: #007FFF;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: #007FFF;
}
.Principal_Sider, .Menu_Content{
  background-color: #17224D;
  color: #F5FAFA;
}

.Menu_Content {
  width: 100%;
}

.Menu_Item_Span{
  color: #F5FAFA;
}

.logo {
  height: 15%;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.profile{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  
}

.profile-text {
  color: #F5FAFA;
}

.site-layout .site-layout-background {
  background: #F5FAFA;
}
