.Div_Content_Post {
  margin-top: 100px;
  height: 40vh;
}

.Div_Post_Header {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.Div_Post_Header_Image {
  width: 40%;
  /* height: 40px; */
}

.editorContainer {
  padding: 1em;
  margin: 1em;
}

.editors {
  border: 1px blue solid;
  padding: 1em;
  margin: 1em;
  /* font-family: 'Open Sans'; */
  font-size: 90%;
}

.Form_Item_Button {
  width: 100%;
}

.Button_Facebook{
  width: 100%;
  height: 32px;
  border: none;
  color: white;
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 2px;
  padding: 4px 15px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;

}
