.ant-carousel .slick-slide {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .carousel ul {
    padding: 0;
    margin: 0;
  }
  
  img {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
  }

  div{
    margin: 0;
    padding: 0;
  } 
  
  .ant-carousel .slick-slide {
    color: #fff;
  }

  .info-h3{
    
      text-align: center;
  }

  .jty{
    justify-self: center;
    margin-left: 10%;
  }

  .margin-buttom{
    
    margin-bottom: 250px;
  }