.wrapper {
  left: 10.5rem;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.site-layout .site-layout-background {
  background: #fff;
}

.Page_Content {
  overflow: scroll;
}
