
.header {
    height: 30px;
    background-color: #1890ff;
    position: fixed;
    z-index: 30;
    width: 100%;
}

.ul-header{
    display: flex;   
    justify-content: space-between;

}

.ul-div{
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
}

.ul-header-2{
    display: flex;   
    justify-content: flex-end;

}

.ul-div-2 {
    display: flex;
    justify-content: flex-end;
    width: 5%;
    
}

.div-avatar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

/* .ant-avatar-cus {
    padding: 15px;
    margin: 10px;
  }
   */

.ul-header-li-project{
  list-style: none;
  text-decoration: none;
  align-self: center;
  display: block;
  margin-left: 50%;
  margin-right:20%;
  

}

.ul-header-li{
    list-style: none;
    text-decoration: none;
    align-self: center;
    display: block;
    margin-right:20%;
  
  }

.ul-header-li, .ul-header-li-project :hover .icon{
    color:#1890ff !important; 
}