/* .header {
  height: 30px;
  background-color: #1890ff;
  position: fixed;
  z-index: 30;
  width: 100%;
} */

.Menu-button {
  margin-left: 16px;
}
.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Items {
  widows: 8%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-left: auto;
}

.NavContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.NavRight > * {
  cursor: pointer;
}

@media (max-width: 570px) {
  .NavContainer {
    justify-content: flex-end;
  }
  .NavLeft {
    display: none;
  }
  .NavRight {
    width: 20%;
  }
}

.Notification {
  background-color: #fff;
  border: 1px silver solid;
  border-radius: 5px;
  height: 40vh;
  width: 20%;
  z-index: 1;
  position: relative;
  left: 80%;
  overflow: auto;
}

.Notification_Title {
  margin-top: -10px;
  margin-left: 20px;
  font-weight: bold;
}

.Notification_Group {
  margin-top: -30px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.Notification_Content {
  margin-left: 20px;
  line-height: 15px;
  display: flex;
}

.text {
  margin-top: 15px;
  margin-left: 5px;
  display: flex;
  font-size: 12px;
  height: 2px;
}

.hour {
  font-size: 9px;
  color: #d7d7d7;
}

.Notification_Avatar {
  max-width: 15%;
  max-height: 15%;
  border-radius: 5px;
  margin-top: 10px;
}
