.site-tag-plus {
  background: #fff;
  border-style: dashed;
}

  [data-theme="dark"] .site-tag-plus {
    background: transparent;
    border-style: dashed;
  }

.Form_Modal{
  margin-top: 30px;
}

.Form_Button{
  width: 100%;
}