.Quienes {
  margin: 30px 20px;
  padding-top: 20px;
}
.Quienes__container-desc {
  display: flex;
}
.container__desc-img {
  display: flex;
  justify-content: flex-end;
}
.container__desc-img img {
  width: 100%;
}
.strategy__container {
  display: flex;
}
.adviser__container {
  display: flex;
  justify-content: space-between;
}

.adviser__container-badge > Div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 30px;
}

.adviser__badge-img img {
  border-radius: 100%;
  width: 150px;
}
.adviser__badge-text {
  padding-left: 20px;
}
.badge__text-name {
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
}
.badge__text-jobTitle {
  font-size: 16px;
  font-weight: 600;
  color: #525252;
}
.badge__text-description {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}
@media (max-width: 1228px) {
  .adviser__container-badge > Div {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .adviser__container-badge > Div {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .adviser__badge-text {
    padding: 0;
  }
  .badge__text-description {
    text-align: left;
  }
  h1 {
    font-size: 2rem;
  }

}

.componenteTitulo{
  height: 70px;
  width: 100%;
  background-color: #86328C;
  margin-top:51px;
  text-align: center;
  padding-top: 14px;
}

.componenteTitulo span{
  color:white;
  font-size: 25px;

}

.txtemprendimientos{
  height: 50px;
  margin-top: 30px;
  font-size: 2em;
  /*padding: 10%;*/
  /*Acumin variable concept - ExtraCondensedBold*/
}

.txtvalores{
  height: 280px;
  /*background-color:red;*/
  text-align: center;
  padding-top: 20%;
}
.circulo{
  max-width: 132px;
  min-width: 132px;
  min-height: 135px;
  max-height: 135px;
  background-color: green;
  border-radius: 580px;
  margin-left: 32%;
  padding-top: 30px;
    font-size: 40px;
    color: white;
  margin-top: 10%;
}


.txtvalores span{
  font-size: 100%;
  font-weight: bold;
  margin-top: 10%;
}

.contenidoEmprendimientos{
/*padding-top: 30px;*/
margin-top: 30px;
}

.seccionNuestrosEmprendedores{
  height: 220px;
  
  /*background-color: red;*/
}

.circuloEmprendimientos{
  max-width: 172px;
  min-width: 172px;
  min-height: 175px;
  max-height: 175px;
  background-color: green;
  border-radius: 580px;
  margin-left: 32%;
  padding-top: 30px;
    font-size: 40px;
    color: white;
  margin-top: 4%;
}
